<ion-content padding class="no-scroll">
  
  <div text-center class="HeadInsc">
    <h1>Insciption</h1><br>
    <h3><i>Rejoins la meute !</i></h3>
  </div>

  
  <div class='o_section'>

    <button *ngIf="!initState" class="CoFacebook" (click)="loginViaFacebook()">
      Se connecter avec <ion-icon name="logo-facebook"></ion-icon>
    </button>
    <p>Rien ne sera publier sans ton accord</p>
    <h2>
      <span>OU</span>
    </h2>

    <button *ngIf="!initState" color='light' class="CoFacebook bam" (click)="goToSignup()">
      inscription OKAME <ion-icon ios="ios-flame" md="md-flame"></ion-icon>
    </button>

    <p>En t'inscrivant via Facebook ou par inscription classique, tu accepte les <strong>Conditions d'utilisations</strong> et la <strong>politique de confidetialité.</strong></p>

    <h2>Déjà membres ?</h2>
    <button *ngIf="!initState" class="CoFacebook bom" (click)="openSignin()">
    Connecte-toi !
    </button>

  </div>

</ion-content>